@model Resort_Management_System.Models.FacilityAmenityTran

@{
    ViewBag.Title = "Delete";
}

@Styles.Render("~/Styles/StyleSheetCommon.css")
@Styles.Render("~/Styles/StyleSheetDelete.css")

<h2 class="delDetail">DELETE FACILITY</h2>
<hr />

<h3 class="delConfirm">Are you sure you want to delete this?</h3>
<div class="delClass">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LuxuryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuxuryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuxuryCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuxuryCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmenitiesMaster.AmenityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmenitiesMaster.AmenityName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <table>
                <tr>
                    <td><input type="submit" value="Delete" class="button2" /></td>
                    <td><input type="button" class="button2" value="Back To List" onclick="location.href='@Url.Action("Index", "FacilityAmenityTrans")'" /></td>
                </tr>
            </table>
            @*<input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
