@model IEnumerable<Resort_Management_System.Models.FacilityAmenityTran>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Styles/StyleSheetCommon.css")
@Styles.Render("~/Styles/StyleSheetIndex.css")

<div class="displayTop">
    <h2 class="allDetail"><span>ALL FACILITIES</span></h2>
    <input type="button" class="button2" value="Add New Facility" onclick="location.href='@Url.Action("Create", "FacilityAmenityTrans")'" />
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LuxuryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuxuryCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmenitiesMaster.AmenityName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LuxuryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LuxuryCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmenitiesMaster.AmenityName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LuxuryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LuxuryID })
            </td>
        </tr>
    }

</table>

