@model Resort_Management_System.Models.AmenitiesMaster

@{
    ViewBag.Title = "Edit";
}

@Styles.Render("~/Styles/StyleSheetCommon.css")
@Styles.Render("~/Styles/StyleSheetCreate.css")

<h2 class="addDetail">EDIT AMENITY</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AmenityID)

        <div class="form-group">
            @Html.LabelFor(model => model.AmenityName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmenityName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AmenityName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <table>
                    <tr>
                        <td><input type="submit" value="Save" class="button2" /></td>
                        <td><input type="button" class="button2" value="Back To List" onclick="location.href='@Url.Action("Index", "AmenitiesMasters")'" /></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
