@model IEnumerable<Resort_Management_System.Models.RolesMaster>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Styles/StyleSheetCommon.css")
@Styles.Render("~/Styles/StyleSheetIndex.css")

<div class="displayTop">
    <h2 class="allDetail"><span>ALL ROLES</span></h2>
    <input type="button" class="button2" value="Add New Role" onclick="location.href='@Url.Action("Create", "RolesMasters")'" />
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.RoleID })
        </td>
    </tr>
}

</table>
