@model IEnumerable<Resort_Management_System.Models.RoomMaster>

@{
    ViewBag.Title = "Index";
}

<h2>Room</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOccupied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    string displayOccupied = item.IsOccupied == 0 ? "False" : "True";

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoomType)
        </td>
        <td>
            @displayOccupied
            @*@Html.DisplayFor(modelItem => item.IsOccupied)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomCost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoomNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoomNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoomNumber })
        </td>
    </tr>
}

</table>
<h4> @Html.ActionLink("Add A new Room", "Create")</h4>