@model IEnumerable<Resort_Management_System.Models.CustomerTran>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Styles/StyleSheetCommon.css")
@Styles.Render("~/Styles/StyleSheetIndex.css")

<div class="displayTop">
    <h2 class="allDetail"><span>ALL CUSTOMER</span></h2>
    <input type="button" class="button2" value="Add New Customer" onclick="location.href='@Url.Action("Create", "CustomerTrans")'" />
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdentityProof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckInDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmenitiesMaster.AmenityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeMaster.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomMaster.RoomType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var paymentDisplay = item.PaymentStatus == 1 ? "Paid" : "Unpaid";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityProof)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDate)
            </td>
            <td>
                @paymentDisplay
                @*@Html.DisplayFor(modelItem => item.PaymentStatus)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmenitiesMaster.AmenityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeMaster.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomMaster.RoomType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BookingID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BookingID })
            </td>
        </tr>
    }

</table>

